.searchBar{
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(220,220,220);
    box-sizing: border-box;
    padding: 15px 8px;
}
.searchBar:focus{
    outline: none;
    border-bottom: 1px solid #1f93ff;
}
ul{
    list-style: none;
}
ul, li{
    margin:0;
    padding: 0;
}